---
import Layout from "../../layouts/Layout.astro";
import styles from "./about.module.scss"
---

<Layout pageTitle="About">
	<main class={styles.root}>
		<span class={styles.text}>Fitzgeral | About</span>
	</main>
</Layout>
