---
import Layout from '../layouts/Layout.astro';
import styles from "./home.module.scss"
---

<Layout pageTitle="Home">
	<main class={styles.root}>
		<span class={styles.text}>Fitzgeral</span>
	</main>
</Layout>
