---
import Head from './Head.astro';

export interface Props {
	pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<Head pageTitle={pageTitle} />
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-main-black: #242424
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--color-main-black);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
